<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

</body>
</html>
<html>
  <head>
    <title>TODOS</title>
    <link rel="stylesheet" type="text/css" href="styles/homepage.css">
  </head>
  <body>

    <div id="wrapper">
        <div class="todo"> 
          <header class="todo__heading">TODOS</header> 
            <input class="todo__input" placeholder="What needs to be done ?"> 
        <section class = "todo-view"></section>
        </div>
    </div>
  </body>

  <script type="text/template" id="item-template">

<div>
    <input class="todo-view__list__item__toggle" type="checkbox" <%=completed ? 'checked' : '' %>>
    <div class="todo-view__list__item__content"><label ><%=content%></label></div>
    <button class="todo-view__list__item__delete">Delete</button>
</div>

  </script>

  <script type="text/template" id = "item-footer">
      <span> <%= left %> <%= left == 1 ? 'item' : 'items' %> left </span>
      <button class= "todo-view__footer__done">Show Completed</button>
      <button class="todo-view__footer__left">Show Remaining</button>
      <button class="todo-view__footer__all">Show All</button>
      <button class = "todo-view__footer__clear">Clear Completed</button>
</script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <script src="bundle.js"></script>
</html>
