<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

</body>
</html>
<html>
  <head>
    <title>A</title>
    <link rel="stylesheet" type="text/css" href="styles/homepage.css">
  </head>
  <body>

    <div id="wrapper">
        <div class="inner-wrapper">
          <div class="input-wrapper">
            <input class="input-field">
            <button id="save"> Save</button>
          </div>
        <div class = "todo-view"></div>
        </div>
    </div>
  </body>

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
      <label><%=content%></label>
    </div>
  </script>

  <script type="text/template" id = "item-footer">
      <span> <%= left %> <%= left == 1 ? 'item' : 'items' %> left </span>
      <button class= "done-todo">Show Completed</button>
      <button class="left-todo">Show Remaining</button>
      <button class="all-todo">Show All</button>
      <button class = "clear">Clear Completed</button>
</script>
  <script src="js/underscore.js"></script>
  <script src="js/jquery.js"> </script>
  <script src="js/backbone.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js" type="text/javascript"></script>
  <script src="js/model/todoModel.js"></script>
  <script src="js/collection/todoCollection.js"></script>
  <script src="js/view/todoView.js"></script>
  <script src="js/view/appView.js"></script>
  <script src="js/view/completeView.js"></script>
</html>
